<p id="notice"><%= notice %></p>

<h1 class="tit"><%= t(:Grades) %></h1>

<table class="table table-responsive-md table-striped">
  <thead>
    <tr>
      <th><%= t(:Year) %></th>
      <th><%= t(:Choice) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.year %></td>
        <td>
        <% if grade.id == session[:grade_id] || grade.id.to_s == session[:grade_id] %>
          <strong><%= t(:Current) %></strong>
        <% else %>
          <%= link_to t(:Select), selected_path(grade) %>
        <% end %>
        </td>
        <td><%= link_to t(:Show), grade %></td>
        <td><%= link_to t(:Edit), edit_grade_path(grade) %></td>
        <td><%= link_to t(:Destroy), grade, method: :delete, data: { confirm: t(:are_sure) + '? ' + t(:grade_caution) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="margin-bottom: 7em">
<%= link_to t(:New_grade), new_grade_path %>
</div>
