<p id="notice"><%= notice %></p>

<h1 class="tit"><%= t(:Summary) %> <%= @cursada %></h1>

<% if session[:grade_id].present? %>

<p>
<%= link_to t(:Change_grade), grades_path, {:method => :get}%>        
</p>

<table class="table table-responsive-md table-striped">
  <thead>
    <tr>
    <% @columns.each do |column| %>
      <th><%= column %></th>
    <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @results.each do |res| %>
      <tr>
      <% res.each do |dat| %>
          <td><%= dat %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<table class="table table-responsive-md table-striped">
  <thead>
    <tr>
      <th><%= t(:Instance) %></th>
      <th><%= t(:Approved) %></th>
      <th><%= t(:Disapproved) %></th>
      <th><%= t(:Missing) %></th>
      <th><%= t(:Approval) %></th>
    </tr>
  </thead>

  <tbody>
    <% @totales.each do |tot| %>
      <tr>
      <% tot.each do |t|%>
        <td><%= t %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-bottom: 7em">
  <%= link_to t(:Change_grade), grades_path, {:method => :get}%>        
</div>

<% else %>
<p class="info"><%= t(:No_grade) %>.</p>
<p class="warning"><%= t(:For_report) %>: 
<%= link_to "Grades", grades_path, {:method => :get}%>        
</p>
<% end %>
