<p id="notice"><%= notice %></p>

<h1 class="tit">Summary <%= @cursada %></h1>

<% if session[:grade_id].present? %>


<table class="table table-responsive-md table-striped">
  <thead>
    <tr>
    <% @columns.each do |column| %>
      <th><%= column %></th>
    <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @results.each do |res| %>
      <tr>
      <% res.each do |dat| %>
          <td><%= dat %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<table class="table table-responsive-md table-striped">
  <thead>
    <tr>
      <th>Instancia</th>
      <th>Aprobados</th>
      <th>Desaprobados</th>
      <th>Ausentes</th>
      <th>% Aprobación</th>
    </tr>
  </thead>

  <tbody>
    <% @totales.each do |tot| %>
      <tr>
      <% tot.each do |t|%>
        <td><%= t %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-bottom: 7em">
  <%= link_to "Change Grade", grades_path, {:method => :get}%>        
</div>

<% else %>
<p class="info">No hay una cursada elegida.</p>
<p class="warning">Elegir una cursada para ver el reporte: 
<%= link_to "Grades", grades_path, {:method => :get}%>        
</p>
<% end %>
