<%= form_with(model: exam_instance, local: true) do |form| %>
  <% if exam_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam_instance.errors.count, "error") %> prohibited this exam_instance from being saved:</h2>

      <ul>
      <% exam_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field form-group row">
    <%= form.label :title, t(:Title), class: 'col-sm-2 col-form-label'  %>
    <div class="col-sm-4">
      <%= form.text_field :title, id: :exam_instance_title, class: 'form-control'  %>
    </div>
  </div>

  
  <%= form.hidden_field :grade_id, :value => exam_instance.grade_id || session[:grade_id] %>


  <div class="field form-group row">
    <%= form.label :min_score, t(:Min_score), class: 'col-sm-2 col-form-label'  %>
    <div class="col-sm-4">
      <%= form.text_field :min_score, id: :exam_instance_min_score, class: 'form-control'  %>
    </div>
  </div>
  

  <div class="field form-group row">
    <%= form.label :exam_date, t(:Exam_date), class: 'col-sm-2 col-form-label'  %>
    <div class="col-sm-4">
      <%= form.datetime_select :exam_date, {id: :exam_instance_exam_date,:datetime_separator => '<br>'}, {:class => 'form-control', :style => 'width: auto; display: inline'} %>        
    </div>
  </div>

  

  <div class="actions form-group row">
    <div class="col-sm-10">
      <% @tag = t(:create) + ' ' + t(:Exam_instance) %>
      <% if exam_instance.persisted? %>
        <% @tag = t(:update) + ' ' + t(:Exam_instance) %>
      <% end %>
      <%= form.submit @tag, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
