<p id="notice"><%= notice %></p>

<h1 class="tit"><%= t(:Exam_Instances) %> <%= @cursada %></h1>

<% if session[:grade_id].present? %>

<p>
<%= link_to t(:Change_grade), grades_path, {:method => :get}%>        
</p>

<table class="table table-responsive-md table-striped">
  <thead>
    <tr>
      <th><%= t(:Title) %></th>
      <th><%= t(:Grade) %></th>
      <th><%= t(:Min_score) %></th>
      <th><%= t(:Exam_date) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_instances.each do |exam_instance| %>
      <tr>
        <td><%= exam_instance.title %></td>
        <td><%= exam_instance.grade.year %></td>
        <td><%= exam_instance.min_score %></td>
        <td><%= exam_instance.exam_date.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= link_to t(:Show), exam_instance %></td>
        <td><%= link_to t(:Edit), edit_exam_instance_path(exam_instance) %></td>
        <td><%= link_to t(:Destroy), exam_instance, method: :delete, data: { confirm: t(:are_sure) + '?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="margin-bottom: 7em">
<%= link_to t(:New_Exam_Instance), new_exam_instance_path %>
|
<%= link_to t(:Change_grade), grades_path, {:method => :get}%>        
</div>

<% else %>

<p class="info"><%= t(:No_grade) %>.</p>
<p class="warning"><%= t(:For_report) %>: 
<%= link_to t(:Change_grade), grades_path, {:method => :get}%>        
</p>

<% end %>
