<p id="notice"><%= notice %></p>

<h1>Exam Instances</h1>

<table class="table table-responsive-md table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Grade</th>
      <th>Min score</th>
      <th>Exam date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_instances.each do |exam_instance| %>
      <tr>
        <td><%= exam_instance.title %></td>
        <td><%= exam_instance.grade.year %></td>
        <td><%= exam_instance.min_score %></td>
        <td><%= exam_instance.exam_date.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= link_to 'Show', exam_instance %></td>
        <td><%= link_to 'Edit', edit_exam_instance_path(exam_instance) %></td>
        <td><%= link_to 'Destroy', exam_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="margin-bottom: 7em">
<%= link_to 'New Exam Instance', new_exam_instance_path %>
</div>
