<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:Title) %>:</strong>
  <%= @exam_instance.title %>
</p>

<p>
  <strong><%= t(:Grade) %>:</strong>
  <%= @exam_instance.grade.year %>
</p>

<p>
  <strong><%= t(:Min_score) %>:</strong>
  <%= @exam_instance.min_score %>
</p>

<p>
  <strong><%= t(:Exam_date) %>:</strong>
  <%= @exam_instance.exam_date.strftime('%d/%m/%Y %H:%M') %>
</p>

<%= link_to t(:Edit), edit_exam_instance_path(@exam_instance) %> |
<%= link_to t(:Back), exam_instances_path %>
