<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Fist name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @student.document_number %>
</p>

<p>
  <strong>Docket number:</strong>
  <%= @student.docket_number %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade.year %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
