<h1><%= t(:Student) %></h1>
<h2><%= t(:Docket_number) %> <%= @student.docket_number %></h2>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:Last_name) %>:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong><%= t(:First_name) %>:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong><%= t(:Document_number) %>:</strong>
  <%= @student.document_number %>
</p>

<p>
  <strong><%= t(:Email) %>:</strong>
  <%= @student.email %>
</p>

<p>
  <strong><%= t(:Grade) %>:</strong>
  <%= @student.grade.year %>
</p>

<%= link_to t(:Edit), edit_student_path(@student) %> |
<%= link_to t(:Back), students_path %>
