<p id="notice"><%= notice %></p>

<h1 class="tit"><%= t(:Results) %> <%= @cursada %></h1>

<p>
<%= link_to t(:Change_grade), grades_path, {:method => :get}%>        
</p>

<table class="table table-responsive-md table-striped">
  <thead>
    <tr>
      <th><%= t(:Score) %></th>
      <th><%= t(:Student) %></th>
      <th><%= t(:Exam_instance) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.score %></td>
        <td><%= result.student.last_name + ' ' + result.student.first_name %></td>
        <td><%= result.exam_instance.title %></td>
        <td><%= link_to t(:Edit), edit_result_path(result) %></td>
        <td><%= link_to t(:Destroy), result, method: :delete, data: { confirm: t(:are_sure) + '?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="margin-bottom: 7em">
<%= link_to t(:New_Result), new_result_path %>
|
<%= link_to t(:Change_grade), grades_path, {:method => :get}%>        
</div>

